@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  min-height: 100vh;
  background: #1d1e3c url(//cdn.bayan.ir/blog/templates/359/bg.jpg) top fixed
    no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Posts {
  width: 30rem;
  min-height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.Post {
  color: #ddd;
  font-family: "Dancing Script", cursive;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background: url(//cdn.bayan.ir/blog/templates/359/blackdot3.png);
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  text-shadow: 0px 0px 5px #666;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.849), 0 0 0.5rem rgba(0, 0, 0, 0.849);
}
.Post p {
  font-family: "Roboto Slab", serif;
  text-align: right;
}
.Post h2 {
  font-size: 2rem;
  text-align: center;
}
.About {
  display: flex;
}
.About img {
  height: 20rem;
  border-radius: 1rem;
}
