@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li,
button {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
a {
  font-family: "Dancing Script", cursive;
  text-decoration: none;
  color: #8c00ff;
  z-index: 2;
}
h3 {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  font-size: 2.5rem;
  color: #edf0f1;
  text-decoration: none;
  z-index: 2;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  background: #1d1e3c;
  border-bottom: #5b00a5 solid;
}
button {
  padding: 9px 25px;
  background-color: rgba(93, 0, 169);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  outline: none;
}
button:hover {
  background-color: rgba(93, 0, 169, 0.8);
}
.Logo {
  height: 3rem;
  cursor: pointer;
}
.Nav_links {
  list-style: none;
}
.Nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.Nav_links li a {
  transition: all 0.3s ease 0s;
}
.Nav_links li a:hover {
  color: #0088a9;
}
.Home {
  position: absolute;
  left: 12rem;
  top: auto;
  list-style: none;
}
.Home a {
  transition: all 0.3s ease 0s;
}
.Home a:hover {
  color: #0088a9;
}
