@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  min-height: 150vh;
  background: #1d1e3c url(//cdn.bayan.ir/blog/templates/359/bg.jpg) top fixed
    no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
.Intro {
  min-width: 100%;
  height: 30rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}
.Title {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  background: url(//cdn.bayan.ir/blog/templates/359/blackdot3.png);
  border-radius: 1rem;
  border: 2px solid rgba(33, 18, 41, 0.4);
  border-bottom: 2px solid rgba(17, 8, 22, 0.4);
  border-right: 2px solid rgba(17, 8, 22, 0.4);
  margin-bottom: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.849), 0 0 0.5rem rgba(0, 0, 0, 0.849);
  padding: 1rem;
  text-align: center;
}
.Title h1 {
  transition: all 0.3s ease 0s;
}
.Title h1:hover {
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.849),
    0 0 0.5rem rgba(255, 255, 255, 0.849);
}
.Title h2 {
  transition: all 0.3s ease 0s;
}
.Title h2:hover {
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.849), 0 0 1rem rgba(0, 0, 0, 0.849);
}
.Post {
  min-width: 20rem;
  height: 30rem;
  overflow-y: scroll;
}
.Post div {
  min-width: 70rem;
  font-size: 2rem;
  color: black;
  font-family: "Dancing Script", cursive;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  text-align: center;
}
.Post a {
  color: black;
}
