<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/nav.css" />
  </head>
  <body>
    <header>
      <a href="/"
        ><img class="Logo" src="/assets/img/nav-image/mr-fox.png" alt="Mr.Fox"
      /></a>
      <nav>
        <ul class="Nav_links">
          <li><a href="/mr-fox/repositories/">Repositories</a></li>
          <li><a href="/mr-fox/posts/">Tutorials</a></li>
          <li><a href="http://mr-fox.blog.ir/">Blog</a></li>
          <li><a href="/mr-fox/about/">About</a></li>
        </ul>
      </nav>
      <a class="Cta" href="#"><button>Donate</button></a>
    </header>
  </body>
</html>
