<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="Meisam Heidari" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      media="(min-width: 500px)"
      href="{{site.baseurl}}/style/nav.css"
    />
  </head>
  <body>
    <div class="Navingation">
      <div class="Menu_Items_Nav"></div>
      <ul>
        <li class="List">
          <a href="/">
            <span class="Icon"><ion-icon name="logo-firefox"></ion-icon></span>
            <span class="Text">Home</span>
          </a>
        </li>
        <li class="List">
          <a href="#">
            <span class="Icon"><ion-icon name="diamond"></ion-icon></span>
            <span class="Text">Donate</span>
          </a>
        </li>
        <li class="List">
          <a href="/posts/">
            <span class="Icon"><ion-icon name="laptop"></ion-icon></span>
            <span class="Text">Devlog</span>
          </a>
        </li>
        <li class="List">
          <a href="/documents/">
            <span class="Icon"
              ><ion-icon name="document-text"></ion-icon></ion-icon
            ></span>
            <span class="Text">Documents</span>
          </a>
        </li>
        <li class="List">
          <a href="/repositories/">
            <span class="Icon"
              ><ion-icon name="git-compare"></ion-icon></ion-icon
            ></span>
            <span class="Text">Repositories</span>
          </a>
        </li>
        <li class="List">
          <a href="/blog/">
            <span class="Icon"><ion-icon name="desktop"></ion-icon></span>
            <span class="Text">Blog</span>
          </a>
        </li>
        <li class="List">
          <a href="/about">
            <span class="Icon"><ion-icon name="person"></ion-icon></span>
            <span class="Text">About</span>
          </a>
        </li>
      </ul>
    </div>
    <script>
      const Menu_Items_Nav = document.querySelector(".Menu_Items_Nav");
      const Navingation = document.querySelector(".Navingation");
      Menu_Items_Nav.onclick = function () {
        Navingation.classList.toggle("open");
      };
    </script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
