<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Meisam Heidari" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      media="(min-width: 500px)"
      href="{{site.baseurl}}/style/posts.css"
    />
    <title>{{ site.title }}</title>
  </head>
  {% include nav.html %}
  <body>
    <main>
      <h1>Document</h1>
      <section>
        <div class="Post">
          {% for post in site.posts %}
          <div>
            <h2>
              <a href="{{post.url}}">
                {{post.title}}
                <hr />
              </a>
            </h2>
          </div>
          {% endfor %}
        </div>
        <br />
      </section>
    </main>
    <hr />
    {% include items.html %}
  </body>
</html>
