<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="programing, hacking, learn" />
    <meta name="author" content="Meisam Heidari" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="هک و امنیت شبکه,امنیت سایبری,مهندسی اجتماعی,تست و نفوذ,هک,امنیت شبکه,hack,hacker,hacker tools,کامپیوتر,نفوذ به سیستم,لینوکس,سیستم عامل,حمله سایبری,سخت افزار,os,windows,mac,مک,ویندوز,هک در ایران,ایران هکر,مرد میدان,mr.fox,MR.FOX,Mr.Fox,Metasploitable,metasploitable,Metasploit,zap,MITM,mitm,man in the middel,man,آموزش,آموزش های لینوکس,آموزش لینوکس,آموزش ترمینال,آموزش کار با صفحه ترمینال,Python,python,آموزش پایتون,زبان برنامه نویسی پایتون,پایتون چیست">
    <link rel="stylesheet" href="{{site.baseurl}}/css/home.css" />
    <title>Mr.Fox</title>
    <link rel="shortcut icon" href="/assets/img/nav-image/mr-fox.png" />
  </head>
  <body>
    {% include nav.html %}
    <main>
      <section class="Intro">
        <aside class="Title">
          <h1>Be a Programmer, hacker ...</h1>
          <h4>Lets be better ...</h4>
        </aside>
        <div class="Hacker">
          <div>
            <h2>Be a Hacker:</h2>
            <img src="/assets/img/home-page/Hacker.png" alt="Hacker" />
            <p>آموزش های کامل و جامع هک</p>
          </div>
        </div>
        <div class="Security">
          <div>
            <h2>Be IT Man:</h2>
            <p>آموزش های جامع امنیت شبکه</p>
          </div>
          <img src="/assets/img/home-page/security.jpg" alt="Hacker" />
        </div>
        <div class="Linux">
          <img src="/assets/img/home-page/Terminal.jpg" alt="Hacker" />
          <div>
            <h2>Linux:</h2>
            <p>آموزش لینوکس</p>
          </div>
        </div>
        <div class="Programmer">
          <div>
            <h2>Programmer:</h2>
            <p>آموزش زبان های برنامه نویسی</p>
            <img src="/assets/img/home-page/Programmer.png" alt="Hacker" />
          </div>
        </div>
      </section>
    </main>
    {% include end.html %}
  </body>
</html>
