<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="programing, hacking, learn" />
    <meta name="author" content="Meisam Heidari" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/tutorials.css" />
    <title>Mr.Fox</title>
  </head>
  <body>
    {% include nav.html %}
    <main>
      <section class="Intro">
        <aside class="Title">
          <h1>Tutorials:</h1>
          <div class="Post">
            {% for post in site.posts %}
            <div>
              <h2>
                <a href="{{post.url}}"
                  >{{post.title}}<br />
                  <hr
                /></a>
              </h2>
            </div>
            {% endfor %}
          </div>
        </aside>
      </section>
    </main>
    {% include end.html %}
  </body>
</html>
